.img-fluid {
    width: 90%;
    height: 90%;
    float: centre;
    align-self: middle;
    /* margin-bottom: 90px; */
    margin-top: 5%;
  }

  .logo{
      width: 12%;
  }

  .img-fluid-small {
    width: 80%;
    height: 50%;
    float: centre;
    align-self: middle;
    margin-top: 5%;
  }